/* Main content */

.main-wrapper {
    box-sizing: border-box;
    max-width: 800px;
    padding: 0.5em;
/*    margin: 1em auto; */
    margin: auto;
}


/* General text style */

.main-wrapper * {
    font-family: sans-serif;
    box-sizing: border-box;
}

a, .clickable {
    text-decoration: none;
    color: darkcyan;  /* or maybe lightseagreen, or mediumaquamarine */
}

a:hover, .clickable:hover, .controls > *:hover, .notification span:hover {
    text-decoration: underline;
    cursor: pointer;
}

kbd {
    /* taken mostly from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd */
    /* border: solid thin black; */
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    margin: 0 3px;
    line-height: 1;
    padding: 2px 2px;
/*     white-space: nowrap; */

}


/* Instructions header */

.instructions {
    text-align: right;
}


/* Note container */

.note {
    text-align: justify;
    padding: 0.5em 0;
    border: dashed thin silver;
    border-left: 0;
    border-right: 0;
    scroll-margin: 10em;
    /*
    max-height: 10em;
    overflow: scroll;
    scrollbar-width: none;
    */
    position: relative;
}

.note .content {
    max-height: 10em;
    overflow: auto;
}

.note:not(:last-child) {
    border-bottom: 0;
}

.note img, .note video {
    max-width: 50%;
    max-height: 15em;
}

.note.selected {
    background: #f2f2f2;
    box-shadow: -0.5em 0 #f2f2f2, 0.5em 0 #f2f2f2, -0.5em 0 10px 0 #dbdbdb, 0.5em 0 10px 0 #dbdbdb;
    border-color: rgba(0, 0, 0, 0);
    transition-property: box-shadow;
    transition-duration: .2s;
}

.note.selected .controls {
    background: inherit;
    box-shadow: -0.2em -0.2em 0.2em #f2f2f2;
}

.note.selected + .note {
    border-top-color: rgba(0, 0, 0, 0);
}

.note.removed {
    display: none;
}


/* Date container */

.date {
    font-style: italic;
    font-size: smaller;
    color: gray;
}


/* Note controls */

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding-bottom: inherit;
    padding-left: 0.2em;
    box-shadow: -0.2em -0.2em 0.2em white;
}

.controls > * {
    font-size: smaller;
    color: #6f8fae;
}

.hotkey {
    font-weight: bold;
}


/* New note form */

.new-note {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.new-note .wrapper1-relative {
    width: 100%;
    height: 100%;
    position: relative;
}

.new-note .shadow-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.new-note .wrapper2-absolute {
    position: absolute;
    width: min(100%, 800px);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.new-note .wrapper3-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.new-note .modal {
    display: none;
    position: absolute;
    width: 75%;
    height: 50%;
    padding: 1em;
    background: white;
    border: solid thin black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-note form {
    height: calc(100% - 2em);
}

.new-note .close-button {
    float: right;
}

.new-note .contentbox, .new-note .contentbox * {
    width: 100%;
    height: 100%;
}

.new-note .submit-button {
    float: right;
}


/* Notifications */

.notification {
    background: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 0.5em;
    border-radius: 7px;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);  /* probably not the nicest way of doing this */
}

.notification span {
    font-weight: bold;
}

.notification span:hover {
    text-decoration-thickness: 2px;
}


/* Fade in/out effects */

.controls, .notification, .new-note {
    opacity: 0;
    transition: opacity 0.2s;
}

.note:hover .controls, .active, .active .modal {
    display: initial;
    opacity: 1;
    z-index: 0;
}
